Thumbs.db
*.suo
*.ncb
*.user
*.sdf
*.opensdf
*.mdmp
*.vs
*.ttyrec
*.bz2
obj/
bin/
Debug/
Release/
PuttyDllDebug/
Packages/
/Putty/WINDOWS/putty.aps
*.so
*.recipe
/DCSSTV/wwwroot/*
/Putty/WINDOWS/VS2012/putty/*
.sonarqube/*
